<md-card>
    <md-card-title>
        <md-card-title-text>
            <md-input-container>
                <label>Title</label>
                <input ng-model="recipe.title">
            </md-input-container>
            <md-input-container>
                <label>Description</label>
                <input ng-model="recipe.description">
            </md-input-container>
            <md-input-container>
                <label>Update message</label>
                <input ng-model="recipe.message">
            </md-input-container>
        </md-card-title-text>
    </md-card-title>


    <md-subheader class="md-no-sticky">Ingredients</md-subheader>

    {{ ingredient.selected }}
    <md-list>
        <md-list-item ng-repeat="ingredient in recipe.ingredients">
            <div class="md-list-item-text">
                <md-autocomplete style="width: 570px;" md-selected-item="ingredient.selected" md-search-text="ingredientSearchText" md-items="item in querySearch(ingredientSearchText)" md-item-text="item.name" md-min-length="2" placeholder="Add Ingredient">
                    <md-item-template>
                        <span md-highlight-text="searchText">{{item.name}}</span>
                    </md-item-template>
                </md-autocomplete>
                <p class="md-secondary">
                    <md-input-container>
                        <label>Amount</label>
                        <input ng-model="ingredient.amount">
                    </md-input-container>
                </p>
            </div>
        </md-list-item>
    </md-list>

    <md-button class="md-raised md-primary" ng-click="addMoreIngredients()">Add</md-button>

    <md-divider></md-divider>

    <md-subheader class="md-no-sticky">Steps</md-subheader>

    <div>
        <md-list>
            <md-list-item ng-repeat="step in steps">
                <div class="md-list-item-text">
                    <strong>{{ $index + 1 }}.</strong>  {{ step }}
                </div>
            </md-list-item>
        </md-list>
    </div>

    <md-input-container>
        <label>Add Step</label>
        <input ng-model="newStep" ng-enter="addStep()">
    </md-input-container>

    <md-divider></md-divider>
    <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
</md-card>
