<!DOCTYPE html>
<html lang="en" >
    <head>
        <title>RecipeHub</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="/static/bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="/static/bower_components/angular-input-stars/angular-input-stars.css"/>
        <link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/app/app.css"/>

        <!--         <style type="text/css">
             /**
             * Hide when Angular is not yet loaded and initialized
             */
             [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
             display: none !important;
             }
             </style>
           -->
    </head>

    <body ng-app="recipehub">
        <div ng-controller="PageController">
            <md-toolbar class="md-whiteframe-z1" layout="row" layout-align="center center">
                <h3 ng-click="go('/')"">RecipeHub</h3>
            </md-toolbar>
            <div layout="row">
                <div flex></div>
                <div ng-view flex></div>
                <div flex></div>
            </div>
            <script type="text/javascript" src="/static/bower_components/angular/angular.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-animate/angular-animate.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-aria/angular-aria.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-material/angular-material.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-route/angular-route.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-gravatar/build/angular-gravatar.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-cookies/angular-cookies.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-sortable-view/src/angular-sortable-view.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-sortable-view/src/angular-sortable-view.js"></script>
            <script type="text/javascript" src="/static/bower_components/angular-input-stars/angular-input-stars.js"></script>
            <script type="text/javascript" src="/static/app/app.js"></script>
            <script type="text/javascript" src="/static/app/directives/enter.js"></script>
            <script type="text/javascript" src="/static/app/directives/star.js"></script>
            <script type="text/javascript" src="/static/app/controllers/page.js"></script>
            <script type="text/javascript" src="/static/app/controllers/home.js"></script>
            <script type="text/javascript" src="/static/app/controllers/recipe.js"></script>
            <script type="text/javascript" src="/static/app/services/comments.js"></script>
            <script type="text/javascript" src="/static/app/services/ratings.js"></script>
            <script type="text/javascript" src="/static/app/services/recipe.js"></script>
            <script type="text/javascript" src="/static/app/services/user.js"></script>
    </body>
</html>
